In [1]:
from tabula.io import read_pdf
import pandas as pd
import tabula
from tabulate import tabulate

In [11]:
df = tabula.io.read_pdf('579857472_TAPSALE RESULTS FOR  TREASURY BOND ISSUE NOs. FXD1-2016-10 AND FXD1-2023-05 DATED 24-07-2023.pdf', pages = 'all', encoding ='utf-8')
df = df[0]

In [12]:
df = df.drop([0])

In [14]:
df.set_index("Tenor", inplace=True)

In [15]:
df1 = df.T

In [18]:
df1 = df1.drop(df1.index[-1])

In [22]:
# Créez une fonction pour nettoyer les valeurs numériques
def remove_commas(value):
    if isinstance(value, str):
        # Supprimez les virgules et les espaces, puis remplacez les virgules par des points
        return float(value.replace(',', '').replace(' ', '').replace(',', '.'))
    else:
        return value

# Appliquez la fonction aux colonnes numériques
columns_to_clean = ['Total Bids Received at Face value (Kes Million)','Total Bids Accepted at Cost (Kes Million)']

for column in columns_to_clean:
    df1[column] = df1[column].apply(remove_commas)

In [24]:
columns_to_convert = ['Allocated average rate for accepted bids (%)','Adjusted Average Price (Per Kes 100.00)','Coupon Rate (%)']

for column in columns_to_convert:
    df1[column] = df1[column].astype(float)

In [25]:
df1

Tenor,Total Bids Received at Face value (Kes Million),Total Bids Accepted at Cost (Kes Million),Allocated average rate for accepted bids (%),Adjusted Average Price (Per Kes 100.00),Coupon Rate (%)
FXD1/2016/010,32216.95,31230.14,16.328,103.300,15.039
FXD1/2023/005,12212.15,12210.68,16.844,100.311,16.844

In [26]:
# Spécifiez le nom du fichier Excel de destination
nom_fichier_excel = 'Tapesale_kenya_scrap.xlsx'

# Exportez le DataFrame vers Excel
df1.to_excel(nom_fichier_excel, index=True)