In [71]:
from tabula.io import read_pdf
import pandas as pd
import tabula
from tabulate import tabulate

In [128]:
df = tabula.io.read_pdf('aug-23-2023.pdf', pages = 'all', encoding ='utf-8')
df = df[0].fillna('')

In [129]:
df.set_index("Unnamed: 0", inplace=True)

In [130]:
df

,28 DAYS,91 DAYS,182 DAYS,364 DAYS,TOTAL
Unnamed: 0,,,,,
Maturity Date (DD/MM/YYYY),20-Sep-23,22-Nov-23,21-Feb-24,21-Aug-24,
Amount Offered (ETB Millions),"4 ,865.00","1 2,600.00","19,800.00","9 ,268.00","46,533.00"
Bids Received (ETB Millions),"6 ,735.00","16,250.00","20,350.00","5,682.00","49,017.00"
Total Amount Accepted (ETB Millions),"4 ,585.00","15,650.00","19,950.00","5,682.00","45,867.00"
Competitive Bids,"4,585.00","15,650.00","19,950.00","5,682.00","45,867.00"
Non Competitive Bids,-,-,-,-,-
Cut Off Price (Per Birr 100),99.240,97.650,95.300,90.600,
Cut Off Yield (Annual in %),9.983,9.653,9.891,10.404,
Weighted Average Price (Per Birr 100),9 9.289,97.721,95.523,91.119,
Weighted Average Yield (Annual in %),9 .329,9.355,9.399,9.774,

In [114]:
df1 =df.T

In [115]:
df1 = df1.drop(df1.index[-1])

In [116]:
df1

Unnamed: 0,Maturity Date (DD/MM/YYYY),Amount Offered (ETB Millions),Bids Received (ETB Millions),Total Amount Accepted (ETB Millions),Competitive Bids,Non Competitive Bids,Cut Off Price (Per Birr 100),Cut Off Yield (Annual in %),Weighted Average Price (Per Birr 100),Weighted Average Yield (Annual in %)
28 DAYS,20-Sep-23,"4 ,865.00","6 ,735.00","4 ,585.00","4,585.00",-,99.240,9.983,9 9.289,9 .329
91 DAYS,22-Nov-23,"1 2,600.00","16,250.00","15,650.00","15,650.00",-,97.650,9.653,97.721,9.355
182 DAYS,21-Feb-24,"19,800.00","20,350.00","19,950.00","19,950.00",-,95.300,9.891,95.523,9.399
364 DAYS,21-Aug-24,"9 ,268.00","5,682.00","5,682.00","5,682.00",-,90.600,10.404,91.119,9.774

In [117]:
import pandas as pd

# Supposons que vous ayez déjà un DataFrame df

# Créez une fonction pour nettoyer les valeurs numériques
def remove_commas(value):
    if isinstance(value, str):
        # Supprimez les virgules et les espaces, puis remplacez les virgules par des points
        return float(value.replace(',', '').replace(' ', '').replace(',', '.'))
    else:
        return value

# Appliquez la fonction aux colonnes numériques
columns_to_clean = ["Amount Offered (ETB Millions)", "Bids Received (ETB Millions)", "Total Amount Accepted (ETB Millions)", 
                    "Competitive Bids"]

for column in columns_to_clean:
    df1[column] = df1[column].apply(remove_commas)

# Maintenant, les virgules ont été enlevées des valeurs numériques.

In [120]:
# Colonnes avec des espaces à supprimer
columns_with_spaces = ["Weighted Average Price (Per Birr 100)", "Weighted Average Yield (Annual in %)"]

# Utilisez str.replace() pour supprimer les espaces
for column in columns_with_spaces:
    df1[column] = df1[column].str.replace(' ', '')

In [118]:
# Colonnes à multiplier
columns_to_multiply = ["Amount Offered (ETB Millions)", "Bids Received (ETB Millions)"]

# Appliquer la multiplication par 100000 à ces colonnes
df1[columns_to_multiply] = df1[columns_to_multiply].apply(lambda x: x * 1000000)

In [123]:
columns_to_convert = ["Cut Off Price (Per Birr 100)", "Cut Off Yield (Annual in %)", "Weighted Average Price (Per Birr 100)", "Weighted Average Yield (Annual in %)"]

# Utilisez pd.to_numeric pour convertir les colonnes en float
for column in columns_to_convert:
    df1[column] = pd.to_numeric(df1[column], errors='coerce')

In [131]:
df1['Maturity Date (DD/MM/YYYY)'] = pd.to_datetime(df1['Maturity Date (DD/MM/YYYY)'], format='%d-%b-%y')

In [133]:
df1['Maturity Date (DD/MM/YYYY)'] = df1['Maturity Date (DD/MM/YYYY)'].dt.strftime('%d/%m/%Y')

In [134]:
df1

Unnamed: 0,Maturity Date (DD/MM/YYYY),Amount Offered (ETB Millions),Bids Received (ETB Millions),Total Amount Accepted (ETB Millions),Competitive Bids,Non Competitive Bids,Cut Off Price (Per Birr 100),Cut Off Yield (Annual in %),Weighted Average Price (Per Birr 100),Weighted Average Yield (Annual in %)
28 DAYS,20/09/2023,4.865000e+08,6.735000e+08,4585.0,4585.0,-,99.24,9.983,99.289,9.329
91 DAYS,22/11/2023,1.260000e+09,1.625000e+09,15650.0,15650.0,-,97.65,9.653,97.721,9.355
182 DAYS,21/02/2024,1.980000e+09,2.035000e+09,19950.0,19950.0,-,95.30,9.891,95.523,9.399
364 DAYS,21/08/2024,9.268000e+08,5.682000e+08,5682.0,5682.0,-,90.60,10.404,91.119,9.774

In [135]:
# Spécifiez le nom du fichier Excel de destination
nom_fichier_excel = 'Ethiopie_scrap.xlsx'

# Exportez le DataFrame vers Excel
df1.to_excel(nom_fichier_excel, index=True)